<launch>
    <node name='user_interface' pkg='user_interface' type='main.py' output='screen'/>
    <node name='barometer' pkg='barometer' type='barometer_dummy.py' output='screen'/>
    <node name='sonar' pkg='sonar' type='sonar_dummy.py' output='screen' />
    <node name='dvl' pkg='dvl' type='dvl_dummy.py' output='screen' />
    <node name='ez_async_data' pkg='ez_async_data' type= 'imu_dummy.py' output='screen' />
    <node name='hydrophones' pkg='hydrophones' type='hydrophones_dummy.py' output='screen' />
</launch>
