#ignore everything
*

#do not ignore
!.gitignore
!README.md
!ez_async_data
!ez_async_data/**
!computer_vision
!computer_vision/**
!mission_planning
!mission_planning/**
!teledyne_dvl
!teledyne_dvl/**
!controls
!controls/**
!sonar
!sonar/**
!hydrophones
!hydrophones/**

#mac_hidden_files
.DS_Store
.directory
