#ignore everything
*

#do not ignore
!.gitignore
!README.md

!ez_async_data
!ez_async_data/**

!mission_planning
!mission_planning/**
!teledyne_dvl
!teledyne_dvl/**

#mac_hidden_files
.DS_Store
.directory
